<!DOCTYPE html>
<header>
    <div class="container">
    <div class="header-top">
        <a href="/">
        <img class="toplogo" src="/image/makinginbetween.png">
        </a>
    </div>
    
    <div class="header-under">
        <a href="/content">展示内容</a>
        <a href="/access">アクセス</a>
        <a href="/aboutus">about us</a>
        <div class="social-icons">
        <a href="https://www.instagram.com/utokyoarchitecture2024?igsh=MmVIMjlkMTBhMg=="><span class="fa-brands fa-instagram"></span></a>
        <a href="https://x.com/utarch2024?s=21"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>
    
    <div class="h-u_smh">
        <div class="openbtn"><span></span><span></span><span></span></div>
        <div class="social-icons">
        <a href="https://www.instagram.com/utokyoarchitecture2024?igsh=MmVIMjlkMTBhMg=="><span class="fa-brands fa-instagram"></span></a>
        <a href="https://x.com/utarch2024?s=21"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>

    <nav class="menu">
        <a href="/content">展示内容</a>
        <a href="/access">アクセス</a>
        <a href="/aboutus">about us</a>
    </nav>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
    <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-2-6/js/5-2-6.js"></script>
    <script src="/js/script.js"></script>
    </div>
</header>