<!DOCTYPE html>

<%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>
    
    <div class="howToAccess">
        <h1 class="wakan">三段坂の和館</h1>
        <div class="map">
            <iframe class="middle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.2775598191993!2d139.76662897578944!3d35.71939177257495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d00191bcdf9%3A0x2eb749f2f51d3624!2z5LiJ5q615Z2C44Gu5ZKM6aSo!5e0!3m2!1sja!2sjp!4v1723804443195!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe class="big" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.2775598191993!2d139.76662897578944!3d35.71939177257495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d00191bcdf9%3A0x2eb749f2f51d3624!2z5LiJ5q615Z2C44Gu5ZKM6aSo!5e0!3m2!1sja!2sjp!4v1723805192701!5m2!1sja!2sjp" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
</body>
