<!DOCTYPE html>
<html>

  <%- include('partials/head'); %>

  <body>
    <%- include('partials/header'); %>

    <div class="top-wrapper">
      <div class="container">
        <h2>2024.11.3~11.4</h2>
        <h1>MAKING </h1>
        <h1>IN BETWEEN</h1>
        <p><br></p>
        <p>二つの物事の<span class="chukan">「中間」</span></p>
        <p>そこには何が生まれるのか</p>

      </div>
    </div>

  </body>

